<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Swapper</h1>
      <p>Find workplaces to swap all over the world!</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/workspaces/new">Add a Workplace</a>
      </p>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap">
    <% workspaces.forEach(function(workspace){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= workspace.image %>">
          <div class="caption">
            <h4><%= workspace.name %> </h4>
          </div>
          <p>
            <a href="/workspaces/<%=workspace._id%>" class="btn btn-primary">More Info</a>
          </p>
        </div>
      </div>
      <% }); %>
  </div>
</div>

<% include ../partials/footer %>
